main {
  background-color: #fdf0e9;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  .video-header {
    background-color: #f9eae3;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    // text-align: center;
    margin-bottom: 20px;
  }

  .middle-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #391400;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    text-align: left;
  }

  .main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #391400a3;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
  }

  .video {
    position: relative;
      text-align: center;
      margin-bottom: 20px;

      .video-first {
        width: 640px;
        border-radius: 10px;
      }

    .img1 {
      width: 570px;
      height: 368px;
      top: 2304px;
      left: 435px;
      gap: 0px;
      opacity: 0px;
    }

    .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        padding: 20px;
        cursor: pointer;
    }

  .header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #391400a3;
    font-size: 16px;
      line-height: 1.5;
      p {
        margin-bottom: 10px;
      }
     flex-wrap: wrap;
  }
}